# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
node_modules/.cache/
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/settings.json
!.vscode/tauri-msvc.cmd
!.vscode/elevate-tauri.ps1
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Cargo.lock
